<html>
    <head>
        <title></title>
        <style>
            body{
                background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-hand-drawn-fashion-dress-private-custom-poster-background-psd-image_178663.jpg");
                background-repeat: no-repeat;
                background-position: center;
            background-size: 100% 100%;
            position: relative;
            width: 800px;
            height: 100vh; 
            margin: 0 auto; 
            display: flex;
            justify-content: center;
            align-items: center;
            }
            h1{
                color: navy;
                font-size: 30px;

            }
        </style>
    </head>
    <body>
        <center><h1>Thank you for your valuable feedback!!!😊😊 <br>Buy again!!</h1></center>
        
    </body>
</html>